                                                                                                                                                            h1 {
    color: blue;
    text-align: right;
    border: 1px;
    border-style: solid;
    padding: 10px;
    font-family: Arial;
}                                                                                                        